*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
/* Common Height For All the body Containers-7vh */
#navBar
{
    width: 100vw;
    height: 7vh;
    background-color: #313949;
    border: 1px solid #313949;
    display: flex;
    flex-direction: row;   
}

/* Disbaled Event For Non-Functionality Elements */
.disabled
{
    pointer-events: none;
    opacity: 0.5;
}
#searchBar
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    /* box-shadow: 0 0 3px; */
}
#searchBar button{
    border: none;
    width: 50px;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
}
#navBar>ul li{
    padding: 2px 10px;
    font-size: 15px;
}
#navBar>ul li:hover{
    border-bottom: 5px solid  white;
}
li
{
    list-style: none;
}
#navBar>ul>li a
{
    text-decoration: none;
    color: white;
    display: flex;
}
#CRM
{
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 50;
}
#HomeContainer
{
    height: 90vh;
    width: 100vw;
}
/* Common Height For All the body Containers - 10vh */
#secondNav
{
    height: 9vh;
    width: 100vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(185, 185, 188);
    box-shadow: 0 0 2px;
}

#ull li {
    padding: 0px 7px;
    margin-left: 15px;
    margin-right: 20px;
}
.createBtnForAllModules
{
    border: 1px solid white;
    background-color: rgba(0, 0, 255, 0.958);
    height: 35px ;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    border-radius: 4px;
    color:white;
}
.createBtnForAllModules:hover{
    background-color: rgba(0, 0, 210, 0.948);
}
#leadFormContainer
{
    height: 80vh;
    width: 93vw;
}
#leadFormSecondNavUl div, #ull div
{
    display: flex;
    width: 48vw;
    flex-direction: row;
    align-items: center;
}
#left
{
    justify-content: left;
}
#right
{
    justify-content: right;
}
#leadFormSecondNavUl li
{
    padding: 0 5px;
    margin: 0 5px;
}
button
{
    height: 28px;
    width: 100px;
}
button a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
#leadSubmitBtn, #contactSubmitBtn
{
    height: 28px;
    width: 70px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 4px;
}
#leadSubmitBtn:hover, #contactSubmitBtn:hover
{
    background-color:rgb(14, 17, 155) ;
}
#leadFormContainer, #contactForm, #accountFormContainer
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#leadFormContainer>form, #contactForm>form, #accountFormContainer>form
{
    width: 20%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 80%;
}
#dealFormContainer
{
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 80%;

}
#dealFormContainer>form
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

}
.divideForm
{
    height: 100%;
    width: 40%;
    margin-top: 100px;
}
#leftForm
{
    margin-left: 150px;
    
}
#leftForm>table, #rightForm>table{
    width: 100%;
}
#rightForm
{
    margin-right: 150px;
}
.inps
{
    height: 20px;
    width: 90%;
}
.leadInp, .contactInp, .accountInp
{
    height: 30px;
}
#leadListContainer, #contactListContainer, #dealListContainer
{
    border-radius: 7px;
    height: 75vh;
    width: 100vw;
    border: 1px solid rgb(230, 225, 225);
    box-shadow: 0 0 1px;
    overflow: auto;
    margin-left: 30px;
    margin-top:30px ;
}
#leadListContainer>table, #contactListContainer>table, #dealListContainer>table{
    width: 100%;
    border-collapse: collapse;
}
td, th{
    padding: 6px;
    text-align: left;
    border-bottom:1px solid rgb(230, 240, 247);
}
th
{
    padding: 18px 3px;
}
.formRow>td{
    padding: 4px;
    text-align: left;
    border-bottom:1px solid rgb(230, 240, 247);
}
tr:hover{
    background-color: rgb(230, 240, 247);
}
select{
    height: 30px;
}
#parent
{
    display: flex;
}
#filterForLead
{
    width: 22%;
    height: 75vh;
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: 0 0 2px;
    margin-left:10px;
    display: none;
}
#filterContainer
{
    width: 22%;
    height: 75vh;
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: 0 0 2px;
    margin-left:10px;
}
#leadViewHomeContainer, #accViewHomeContainer
{
    border-radius: 7px;
    height: 75vh;
    width: 100vw;
    border: 1px solid rgb(230, 225, 225);
    box-shadow: 0 0 1px;
    /* overflow: scroll; */
    margin-left: 30px;
    margin-top:30px ;
    display: flex;
}
#parentContainer
{
    display: flex;
}
#leadViewHomeContainer table, #contact{
    width: 100%;
    height: 70%;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
}
#accContainer
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#accTable
{
    width: 90%;
}
#contactsInAcc
{
    width: 90%;
}

/* PupUp-Form-For-Converting-The-Lead-To-Acc,Deal */
#popupContainer
{
    display: none;
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    left: 0;
    top: 0;
    position: fixed;
    overflow: auto;
    /* border: 1px solid white; */
    /* background-color: beige; */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
#actualContainer
{
    /* display: none; */
    height: 200px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 10px;
   /* padding-left: 100px; */
    border-radius: 4px;
    background-color: white;
}






